@media screen and (max-width:768px) {
      .principal {
            margin: 0;
            margin-top: 0px;
            grid-template-columns: 1fr;
      }

      .lado-esq {
            text-align: center;
            margin: auto;
            width: 100%;

      }

      .lado-dir {
            text-align: center;
      }

      .titulo {
            padding: 20px;
            border: 1px solid rgb(224, 218, 218);

      }

      .bloco-informacao {
            justify-content: center;
            margin-left: 0px;

      }

      .descricao {
            margin-left: 0px;
            margin-right: 0px;
      }

      .perfil {
            padding: 0 15px;
            margin: 10px 4px;
            text-align: justify;
      }
      .sectionEnd {
            margin-bottom: 20px;
      }




}