* {
  margin: 0;
  padding: 0;
}

body {
  background: lightblue;
}



.principal {
  background: white;
  margin: 0 20% 0 20%;
  height: auto;
  display: grid;
  margin-top: 10px;
  grid-template-columns: 1fr 2fr;
}

.lado-esq {
  background: #076591;
}

.lado-dir {
  text-align: justify;
}

.foto {
  border-radius: 50%;
  margin: 30px 50px auto;
  /* padding: 5px; */
  border: 5px solid rgb(242, 239, 245);
}

.titulo {
  color: white;
  text-align: center;
  text-transform: uppercase;
  /* margin-bottom: 16px; */
  /* margin-top: 20px; */
  padding: 20px;
}

.material-icons.icon-branco {
  color: white;

}

.bloco-informacao {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-bottom: 16px;
  width: 100%;

}

.bloco-informacao, .material-icons.icon-branco {
  line-height: 50px;
}

.descricao {
  font-size: 16px;
  color: white;
  font-weight: 600;
  font-family: cursive;
  margin-left: 18px;
  margin-right: 5px;
}

#nome {
  font-size: 3rem;
  margin: 50px 50px 10px;
  padding: 0 15px;
  font-family: serif;

}

.perfil {
  padding: 0 15px;
  margin: 20px 30px;
  text-align: justify;
  font-family: Roboto, serif;
}

.image {
  width: 100px;
  padding: 10px 0px;
}

h3 {
  padding: 10px 0;
  font-size: 25px;
}

.im2 {
  border-radius: 50%;
}

a {
  text-decoration: none;
}