@media screen and (max-width:1080px) {
      .principal {
            margin: 0;
            margin-top: 0px;
            grid-template-columns: 1fr;
            max-width: 700px;
            margin: auto;
      }

      .lado-esq {
            text-align: center;
            margin: auto;
            width: 100%;

      }

      .lado-dir {
            text-align: center;
      }

      .titulo {
            padding: 20px;
            border: 1px solid rgb(224, 218, 218);

      }

      .bloco-informacao {
            justify-content: center;
            margin-left: 0px;

      }

      .descricao {
            margin-left: 0px;
            margin-right: 0px;
      }


      .perfil {
            padding: 0 10px;
            margin: 20px 20px;
      }
}